.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item > p {
  margin: 0;
}

.card {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.card-text {
  font-size: 0.75rem;
}

.card-body {
  padding: 1rem;
}

.h6 {
  font-size: 0.75rem;
}
